* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* global.css */
body {
  background-color: black; /* Set the background color of the entire page */
}

.MuiInputLabel-root {
  color: white; /* Set the label color to white */
}

.MuiInputBase-input {
  color: white; /* Set the input text color to white */
}
